.Loader {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  background: #fff;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  align-items: center; }
  .Loader svg {
    margin: 0 auto;
    position: relative;
    display: block; }
