.TradeForm {
  .top-content {
    display: flex;
    margin-bottom: 22px;

    input {
      border: none;
      width: 100%;
      background: #34405505;
      padding: 16px 16px;
      border-radius: 4px;
      box-sizing: border-box;
      border: 1px solid #2bcb96;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      color: #017676;
      height: 47px;
      resize: none;
      line-height: 22px;
      flex: 1;
      outline: none;
      display: block;
    }
  }

  .middle-content {
    text-align: center;
    margin-bottom: 22px;
  }

  .rate-difference,
  .expected-profit {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #017676;
  }

  .expected-profit-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #017676;
  }

  .form-title {
    color: #ababab;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin: 16px 0 6px;
  }
}
