.StartPage .page_content {
  width: 600px;
  padding: 160px;
  border-radius: 8px;
  overflow: hidden; }

.StartPage .page_heading {
  color: #404ad1;
  font-size: 88px;
  font-weight: bold;
  margin-bottom: 0px; }

.StartPage .page_sub_heading {
  color: #344055;
  font-size: 32px;
  font-weight: bold; }

.StartPage .private-key-field {
  margin-right: 14px; }

.StartPage .btn {
  cursor: pointer;
  border: none;
  padding: 12px 27px;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  height: 54px;
  font-weight: 700; }

.StartPage .btn.btn-primary {
  background: #23D361;
  color: white; }

.StartPage .help_text {
  color: #888098;
  font-size: 18px; }

.StartPage .start-form {
  display: flex;
  width: 60%;
  margin-top: 24px; }

.StartPage .circle-2 {
  border-radius: 100%;
  width: 600px;
  height: 600px;
  background: #6971F5;
  position: fixed;
  bottom: -200px;
  right: -200px; }
