.Button {
  cursor: pointer;
  border: none;
  padding: 12px 27px;
  border-radius: 8px;
  box-sizing: border-box;
  height: 45px;
  width: 100%;
  display: block;
  outline: none;
  background: linear-gradient(
      180deg,
      rgba(110, 199, 178, 0.9) 0%,
      rgba(171, 223, 211, 0.384375) 51.56%,
      rgba(255, 255, 255, 0) 100%
    ),
    #15a48a;

  &:active {
    background: linear-gradient(
        360deg,
        rgba(110, 199, 178, 0.9) 0%,
        rgba(171, 223, 211, 0.384375) 51.56%,
        rgba(255, 255, 255, 0) 100%
      ),
      #15a48a;
  }

  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;

  &:disabled {
    opacity: 0.4;
  }
}
