.Menu {
  position: relative; }
  .Menu button {
    cursor: pointer;
    border: none;
    padding: 12px 27px;
    box-sizing: border-box;
    display: block;
    width: 38px;
    outline: none;
    color: #fff;
    background: transparent; }
  .Menu .menu-items {
    position: absolute;
    background: #fff;
    z-index: 100;
    right: 0px;
    top: 58px;
    width: 162px;
    right: -22px; }
    .Menu .menu-items .menu-item {
      display: block;
      width: 100%;
      padding: 20px;
      color: #53585d;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 16px; }
  .Menu .overlay {
    background: black;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    opacity: 0.7; }
