.TextArea textarea {
  border: none;
  width: 100%;
  background: rgba(85, 52, 52, 0.03);
  padding: 18px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  height: 120px;
  color: #888098;
  resize: none; }

.TextArea textarea::placeholder {
  color: #888098;
  opacity: 0.5; }
