.TradeActivityCard {
  margin-bottom: 32px;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 #edeeee;
  border: 1px solid #e5e5e5;
  background: #fff;
  position: relative; }
  .TradeActivityCard .details-action {
    padding: 12px 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    border-top: 1px solid #e5e5e5; }
    .TradeActivityCard .details-action button {
      margin: 0px; }
  .TradeActivityCard .additional-content-wrapper {
    margin: 44px 0px;
    text-align: center; }
  .TradeActivityCard .chart-wrapper {
    text-emphasis: center; }
    .TradeActivityCard .chart-wrapper img {
      width: 62%; }
  .TradeActivityCard .date-bar {
    text-align: center;
    display: flex;
    margin-bottom: 4px;
    padding: 8px 14px;
    font-size: 13px;
    color: #6b7075;
    border-bottom: 1px solid #e5e5e5; }
  .TradeActivityCard .top-content {
    text-align: center;
    display: flex;
    margin-bottom: 4px;
    padding: 22px; }
  .TradeActivityCard .bottom-content {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 22px;
    border-top: 1px solid #e5e5e5; }
  .TradeActivityCard .cost-saving {
    flex: 1;
    padding: 6px 22px 0px;
    box-sizing: border-box; }
  .TradeActivityCard .currency-info {
    width: 100px; }
  .TradeActivityCard .arrow-image {
    width: 220px;
    max-width: 100%; }
  .TradeActivityCard .currency {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #017676; }
  .TradeActivityCard .pre-trade-amount {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #017676; }
  .TradeActivityCard .rate,
  .TradeActivityCard .exchange,
  .TradeActivityCard .cost-saving-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #ababab; }
  .TradeActivityCard.unselected .top-content {
    margin-bottom: 0; }
  .TradeActivityCard.unselected .currency {
    color: #6b7075; }
