.TopBar {
  background: #017676;
  padding: 16px 22px;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .TopBar .logo {
    width: 180px; }
  .TopBar .more-icon {
    font-size: 30px; }
  .TopBar .brand-name {
    color: #fff;
    font-weight: 800;
    font-size: 24px; }
  .TopBar .btn.btn-plain {
    cursor: pointer;
    background: transparent;
    border: none;
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-weight: 400;
    font-size: 16px; }
  .TopBar .btn-leave {
    float: right; }
  .TopBar .connection-state {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    float: left;
    margin-right: 12px;
    margin-top: 4px; }
    .TopBar .connection-state.connected {
      background: greenyellow; }
    .TopBar .connection-state.disconnected {
      background: red; }
