.ActivityPage {
  .content {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
  }

  .content-body {
    padding: 22px;
  }

  .suggestions-title {
    color: #ababab;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    margin: 16px 0;
  }
}
