.GhostButton {
  cursor: pointer;
  border: none;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  display: block;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #017676;
  text-align: center;
  margin-top: 24px;
  background: transparent; }
