.LoaderCentered {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
  background: transparent; }
  .LoaderCentered svg {
    margin: 0 auto;
    position: relative;
    display: block; }
