.Card {
  border-radius: 4px;
  box-shadow: 0 0 5px 0 #edeeee;
  border: 1px solid #e5e5e5;
  background: #fff;
  position: relative;

  .card-content {
    padding: 22px;
  }

  .details-action {
    padding: 12px 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    border-top: 1px solid #e5e5e5;

    button {
      margin: 0px;
    }
  }

  .additional-content-wrapper {
    margin: 44px 0px;
    text-align: center;
  }
}
