.Card {
  border-radius: 4px;
  box-shadow: 0 0 5px 0 #edeeee;
  border: 1px solid #e5e5e5;
  background: #fff;
  position: relative; }
  .Card .card-content {
    padding: 22px; }
  .Card .details-action {
    padding: 12px 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    border-top: 1px solid #e5e5e5; }
    .Card .details-action button {
      margin: 0px; }
  .Card .additional-content-wrapper {
    margin: 44px 0px;
    text-align: center; }
