.ProgressCard {
  margin-bottom: 32px; }
  .ProgressCard .top-content {
    text-align: center;
    display: flex;
    margin-bottom: 24px; }
  .ProgressCard .ant-steps-vertical {
    width: 242px;
    margin: 0 auto; }
  .ProgressCard .ant-steps-item.ant-steps-item-finish .ant-steps-item-icon {
    border-color: #6fc7b4; }
    .ProgressCard .ant-steps-item.ant-steps-item-finish .ant-steps-item-icon svg {
      color: #6fc7b4; }
  .ProgressCard .ant-steps-item.ant-steps-item-finish .ant-steps-item-tail:after {
    background: #6fc7b4; }
  .ProgressCard .ant-steps-item.ant-steps-item-process .ant-steps-item-icon {
    background: #6fc7b4;
    border-color: #6fc7b4; }
  .ProgressCard .ant-steps-item-title,
  .ProgressCard .ant-steps-item-description {
    font-family: Roboto; }
  .ProgressCard .ant-steps-item-wait > .ant-steps-item-content > .ant-steps-item-title,
  .ProgressCard .ant-steps-item-wait > .ant-steps-item-content > .ant-steps-item-description {
    color: #ababab; }
  .ProgressCard .ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title,
  .ProgressCard .ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-description {
    color: #ababab; }
  .ProgressCard .ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-title,
  .ProgressCard .ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-description {
    color: #898f96;
    font-weight: 700; }
