.ProgressCard {
  margin-bottom: 32px;

  .top-content {
    text-align: center;
    display: flex;
    margin-bottom: 24px;
  }

  .ant-steps-vertical {
    width: 242px;
    margin: 0 auto;
  }

  .ant-steps-item.ant-steps-item-finish {
    .ant-steps-item-icon {
      border-color: #6fc7b4;

      svg {
        color: #6fc7b4;
      }
    }
    .ant-steps-item-tail {
      &:after {
        background: #6fc7b4;
      }
    }
  }

  .ant-steps-item.ant-steps-item-process {
    .ant-steps-item-icon {
      background: #6fc7b4;
      border-color: #6fc7b4;
    }
  }

  .ant-steps-item-title,
  .ant-steps-item-description {
    font-family: Roboto;
  }

  .ant-steps-item-wait > .ant-steps-item-content > .ant-steps-item-title,
  .ant-steps-item-wait > .ant-steps-item-content > .ant-steps-item-description {
    color: #ababab;
  }

  .ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title,
  .ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-description {
    color: #ababab;
  }

  .ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-title,
  .ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-description {
    color: #898f96;
    font-weight: 700;
  }
}
