.BalancesPage .balance-card {
  margin-bottom: 14px;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 #edeeee;
  border: 1px solid #e5e5e5;
  background: #fff;
  position: relative; }
  .BalancesPage .balance-card .card-content {
    padding: 22px; }
  .BalancesPage .balance-card .details-action {
    padding: 12px 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    border-top: 1px solid #e5e5e5; }
    .BalancesPage .balance-card .details-action button {
      margin: 0px; }
  .BalancesPage .balance-card .additional-content-wrapper {
    margin: 44px 0px;
    text-align: center; }

.BalancesPage .content {
  position: relative;
  max-width: 600px;
  margin: 0 auto; }

.BalancesPage .content-body {
  padding: 22px;
  position: relative; }

.BalancesPage .suggestions-title {
  color: #ababab;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  margin: 16px 0; }

.BalancesPage .exchange-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #6b7075;
  text-transform: capitalize; }

.BalancesPage .currency-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #017676;
  display: inline-block;
  margin-right: 10px;
  text-transform: uppercase; }

.BalancesPage .currency-balance {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #017676; }

.BalancesPage .content-wrapper {
  min-height: 200px;
  position: relative; }
