.TextField input {
  border: none;
  width: 100%;
  background: #34405505;
  padding: 18px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: #888098;
}

.TextField input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #888098;
  opacity: 0.5; /* Firefox */
}
