.Suggestion {
  margin-bottom: 32px; }
  .Suggestion .top-content {
    text-align: center;
    display: flex;
    margin-bottom: 24px; }
  .Suggestion .cost-saving {
    flex: 1;
    padding: 6px 22px 0px;
    box-sizing: border-box; }
  .Suggestion .arrow-image {
    width: 220px;
    max-width: 100%; }
  .Suggestion .currency {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #017676; }
  .Suggestion .rate,
  .Suggestion .exchange,
  .Suggestion .cost-saving-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #ababab; }
  .Suggestion.unselected .top-content {
    margin-bottom: 0; }
  .Suggestion.unselected .currency {
    color: #898f96; }
  .Suggestion .chart-wrapper {
    text-emphasis: center; }
    .Suggestion .chart-wrapper img {
      width: 62%; }
