.Suggestion {
  margin-bottom: 32px;

  .top-content {
    text-align: center;
    display: flex;
    margin-bottom: 24px;
  }

  .cost-saving {
    flex: 1;
    padding: 6px 22px 0px;
    box-sizing: border-box;
  }

  .arrow-image {
    width: 220px;
    max-width: 100%;
  }

  .currency {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #017676;
  }

  .rate,
  .exchange,
  .cost-saving-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #ababab;
  }

  &.unselected {
    .top-content {
      margin-bottom: 0;
    }

    .currency {
      color: #898f96;
    }
  }

  .chart-wrapper {
    text-emphasis: center;
    img {
      width: 62%;
    }
  }
}
