.UserProfitsCard {
  background: #005959;
  position: relative; }
  .UserProfitsCard .content {
    position: relative;
    max-width: 600px;
    margin: 0 auto; }
  .UserProfitsCard .content-body {
    padding: 22px; }
  .UserProfitsCard .profits-card-title {
    font-family: Fugaz One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #ffffff; }
  .UserProfitsCard .profits-info {
    display: flex;
    justify-content: space-between; }
    .UserProfitsCard .profits-info .amount {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      color: #ffffff; }
    .UserProfitsCard .profits-info .currency {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      color: #ffffff; }
  .UserProfitsCard .details-action {
    padding: 12px 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #017676;
    text-align: center;
    border-top: 1px solid #e5e5e5; }
