.UserProfitsCard {
  background: #005959;
  position: relative;

  .content {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
  }

  .content-body {
    padding: 22px;
  }

  .profits-card-title {
    font-family: Fugaz One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #ffffff;
  }

  .profits-info {
    display: flex;
    justify-content: space-between;

    .amount {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      color: #ffffff;
    }

    .currency {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      color: #ffffff;
    }
  }

  .details-action {
    padding: 12px 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #017676;
    text-align: center;
    border-top: 1px solid #e5e5e5;
  }
}
