.Message {
  border-bottom: 1px solid #e5e7e766;
  background: #fff;
  padding: 12px;
  position: relative;
  display: flex; }
  .Message .message {
    font-size: 16px;
    color: #344055; }
  .Message .message-body {
    flex: 1; }
  .Message .message-left {
    margin-right: 6px; }
    .Message .message-left .user-info {
      border-radius: 100%;
      margin-right: 4px;
      background-color: #888098;
      width: 48px;
      height: 48px;
      overflow: hidden;
      opacity: 0.2; }
  .Message .date {
    font-size: 12px;
    color: #888098;
    margin-bottom: 8px; }
