.Message {
  border-bottom: 1px solid #e5e7e766;
  background: #fff;
  padding: 12px;
  position: relative;
  display: flex;

  .message {
    font-size: 16px;
    color: #344055;
  }

  .message-body {
    flex: 1;
  }

  .message-left {
    margin-right: 6px;

    .user-info {
      border-radius: 100%;
      margin-right: 4px;
      background-color: #888098;
      width: 48px;
      height: 48px;
      overflow: hidden;
      opacity: 0.2;
    }
  }

  .date {
    font-size: 12px;
    color: #888098;
    margin-bottom: 8px;
  }
}
